# {{new_version}}

## New Files

{%- for group_name, files in groups.files %}
{%- for file in files  %}
{%- if file.change_type == 'Added' %}
- {{file.file_path}} - {{file.author | map(attribute='name') | unique | join(', ')}}
{%- endif %}
{%- endfor%}
{%- endfor%}

# Modified Files
{%- for group_name, files in groups.files %}
{%- for file in files  %}
{%- if file.change_type == 'Modified' %}

- {{file.file_path}} - {{file.author | map(attribute='name') | unique | join(', ')}}
{%- endif %}
{%- endfor %}
{%- endfor %}

# Deleted Files
{%- for group_name, files in groups.files %}
{%- for file in files  %}
{%- if file.change_type == 'Deleted' %}
- {{file.file_path}} - {{file.author | map(attribute='name') | unique | join(', ')}}
{%- endif %}
{%- endfor%}
{%- endfor%}

