# {{new_version}}
{%- for change_type, files in groups %}
# {{change_type}} Files
{% for file_path, file_commits in files.items()%}
{% for commit in file_commits %}
    {{file_path}} - {{commit.author}} - {{commit.friendly_change_type}}
{%- endfor %}    
{%- endfor %}    
{%- endfor %}
